In [56]:
# this notebook was jointly developed by Chirag, Abhinaw and Lochlann
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv('book1.csv')
df.head()

,vehicle,speed,proximity,pressure,light-on,wiper-on,passengers-count,fuel,engine-temperature
0,1,30,26,129,0,0,1,0,214
1,1,18,30,128,1,1,2,2,201
2,1,30,12,123,1,0,1,2,196
3,1,24,27,121,0,2,2,2,195
4,1,13,13,125,0,1,2,1,196

This notebook by jointly contributed by Chirag, Abhinaw and Lochlann

In [57]:
def calc_target (row):
    if (row['vehicle'] == 1) & (row['speed'] < 40) & ((row['pressure'] >= 116) & (row['pressure'] <= 131)) & (row['fuel'] == 1 or row['fuel'] == 2) & ((row['engine-temperature'] >= 195) & (row['engine-temperature'] <= 220)):
        return 0
    elif (row['vehicle'] == 2) & (row['speed'] < 40) & ((row['pressure'] >= 116) & (row['pressure'] <= 131)) & ((row['fuel'] == 1) or (row['fuel'] == 2)) & ((row['engine-temperature'] >= 195) & (row['engine-temperature'] <= 220)):
        return 0
    elif (row['vehicle'] == 3) & (row['speed'] < 40) & ((row['pressure'] >= 25) & (row['pressure'] <= 35)) & ((row['fuel'] == 1) or (row['fuel'] == 2)) & ((row['engine-temperature'] >= 155) & (row['engine-temperature'] <= 220)):
        return 0
    else:
        return 1

In [58]:
df['inspect'] = df.apply (lambda row: calc_target(row), axis=1)
df.head()

,vehicle,speed,proximity,pressure,light-on,wiper-on,passengers-count,fuel,engine-temperature,inspect
0,1,30,26,129,0,0,1,0,214,1
1,1,18,30,128,1,1,2,2,201,0
2,1,30,12,123,1,0,1,2,196,0
3,1,24,27,121,0,2,2,2,195,0
4,1,13,13,125,0,1,2,1,196,0

In [59]:
df.to_csv("data2.csv")