In [24]:
# train on data, remove first unnamed column before this
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle

In [25]:
df = pd.read_csv('data2.csv')
df.head()
X = df.iloc[:,0:9]
y = df.iloc[:,9]
X
# print(y)

,vehicle,speed,proximity,pressure,light-on,wiper-on,passengers-count,fuel,engine-temperature
0,1,30,26,129,0,0,1,0,214
1,1,18,30,128,1,1,2,2,201
2,1,30,12,123,1,0,1,2,196
3,1,24,27,121,0,2,2,2,195
4,1,13,13,125,0,1,2,1,196
...,...,...,...,...,...,...,...,...,...
1172,3,40,20,33,2,0,3,0,194
1173,3,83,6,32,1,1,3,0,239
1174,3,38,15,27,1,1,4,0,200
1175,3,53,11,34,0,1,5,0,204
1176,3,91,19,26,1,0,5,0,197

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
lr = LinearRegression()
model = lr.fit(X_train, y_train)
r2_score = lr.score(X_test, y_test)
print(r2_score*100,'%')

8.158663509630593 %

In [27]:
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [28]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.08158663509630593

In [29]:
loaded_model.predict([[2,91.04624672,13.92933001,26.18824997,0,0,4,1,217]])

/Users/abhinawtiwari/tensorflow-test/tf/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.03084065])